.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fff;
}

.logo-wrapper {
  position: relative;
  display: inline-block; /* Ensures the size of the wrapper is based on the logo */
}

.loading-logo {
  width: 400px; /* Adjust the size of the logo as per your need */
  display: block;
}

.loading-spinner {
  width: 100px; /* Width of the loading bar */
  height: 10px; /* Height of the loading bar */
  background-color: rgba(0, 0, 0, 0.1); /* Light background for the bar */
  position: absolute;
  border-radius: 5px;
  bottom: 120px; /* Adjust this to control vertical positioning relative to the logo */
  left: 50%;
  transform: translateX(-50%); /* Center the loader horizontally */
}

.loading-spinner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  background-color: #6A38C2;
  animation: loading-bar 1s linear infinite;
}

@keyframes loading-bar {
  0% {
    left: 0;
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0;
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .loading-logo {
    width: 300px;
  }

  .loading-spinner {
    width: 80px;
    bottom: 15px; /* Adjust for smaller screens */
  }
}

@media (max-width: 480px) {
  .loading-logo {
    width: 400px;
  }

  .loading-spinner {
    width: 100px;
    bottom: 120px; /* Adjust for even smaller screens */
  }
}
