.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fff;
}

/* .hidden {
  visibility: hidden;
} */

.logo-wrapper {
  position: relative;
  display: inline-block;
}

.loading-logo {
  width: 400px;
  display: block;
}

.loading-spinner {
  width: 100px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  border-radius: 5px;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
}

.loading-spinner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  background-color: #6A38C2;
  animation: loading-bar 1s linear infinite;
}

@keyframes loading-bar {
  0% {
    left: 0;
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0;
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .loading-logo {
    width: 300px;
  }

  .loading-spinner {
    width: 80px;
    bottom: 15px;
  }
}

@media (max-width: 480px) {
  .loading-logo {
    width: 400px;
  }

  .loading-spinner {
    width: 100px;
    bottom: 120px;
  }
}
